<div class="absolute h-124 flex flex-wrap  justify-between w-9/12  ml-80 top-64 overflow-hidden overflow-scroll ">
    <section class="max-w-4xl p-4 mx-auto bg-fumee rounded-md shadow-md dark:bg-gray-800 mt-4 mb-10">
        <h1 class="text-xl font-bold text-basic">Ajout New DVD</h1>
        <form #form="ngForm" (submit)="formulaire(form)">
            <div>
                    <p *ngIf="(dvd.id)"class="block w-1/5 px-4 py-2 mt-2 text-basic bg-fumee rounded-full focus:border-blue-500  focus:outline-none focus:ring">Id: {{dvd.id}}</p>
                </div>
                
            <div class="grid grid-cols-1 gap-4 mt-4 sm:grid-cols-2">

                <div>
                    <label class="text-basic" for="name">Titre</label>
                    <input [(ngModel)]="dvd.name"  name="name" id="name" type="text"  class="block w-full px-2 py-2 mt-2 text-basic bg-fumee border border-gray-300 rounded-full focus:border-blue-500  focus:outline-none focus:ring">
                </div>
    
                <div>
                    <label class="text-basic" for="genre">Genre</label>
                    <input id="genre" type="text" [(ngModel)]="dvd.genre" name="genre"  class="block w-full px-4 py-2 mt-2 text-basic bg-fumee border border-gray-300 rounded-full  focus:border-blue-500 focus:outline-none focus:ring">
                </div>
    
                <div>
                    <label class="text-basic" for="prix">Prix</label>
                    <input id="prix" type="number" [(ngModel)]="dvd.prix" name="prix" class="block w-full px-4 py-2 mt-2 text-basic bg-fumee border border-gray-300 rounded-full focus:border-blue-500  focus:outline-none focus:ring">
                </div>
    
                <div>
                    <label class="text-basic" for="quantity">Quantité</label>
                    <input id="quantity" type="number" [(ngModel)]="dvd.quantity"  name="quantity" class="block w-full px-4 py-2 mt-2 text-basic bg-fumee border border-gray-300 rounded-full focus:border-blue-500 focus:outline-none focus:ring">
                </div> 
            
            </div>
                <div class="flex flex-col w-full">
                    <div class="w-100 pt-4 pb-4" >
                        <label class="text-basic" for="description">Description</label>
                        <textarea [(ngModel)]="dvd.description"  name="description" id="description" type="text" class="block w-full row-4 px-4 py-2 mt-2 text-basic bg-fumee border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none focus:ring"></textarea>
                    </div>
                    <div class="w-full flex flex-col m-auto justify-center">
                        <label for="photo"class="block text-sm font-medium text-basic">
                        Photo</label>
                        <div class="flex">
                        <img *ngIf="dvd.id" class="object-cover w-1/2" src="{{dvd.photo}}" alt="image jacket">
                    
                        <input [(ngModel)]="dvd.photo" name="photo" id="photo" type="text"   class="block px-4 py-2 mt-2 h-1/5 text-basic bg-fumee border border-gray-300 rounded-full focus:border-blue-500 focus:outline-none focus:ring">
                    <!--
                        <div class="mt-1 flex justify-center  item-center m-auto px-4 pt-5 pb-4 border-2 border-gray-300 border-dashed rounded-md">
                            
                            <div class="space-y-1 text-center">
                                <svg class="mx-auto h-12 w-12 text-basic" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <div class="flex text-sm text-gray-600">
                                    <label for="file-upload" class="relative cursor-pointer bg-fumee rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                    <span class="">Upload a file</span>
                                    <input id="photo" name="photo" type="file" class="sr-only"></label>
                                    <p class="pl-1 text-basic">or drag and drop</p>
                                </div>
                                <p class="text-xs text-basic">PNG, JPG, JPEG up to 10MB</p>
                            </div>
                        </div>-->
                    </div>
                    </div>
                </div>
               
            <div *ngIf="dvd.id" class="flex justify-around mt-6">   
                <input type="hidden" name="id" [(ngModel)]="dvd.id">
                <button id="delete"  class="px-6 py-2 leading-5 text-fumee transition-colors duration-200 transform bg-red-400 rounded-md hover:bg-red-600 focus:outline-none">Supprimer</button>

            <button type="submit" id="mofifier" class="px-6 py-2 leading-5 text-fumee transition-colors duration-200 transform bg-granny-400 rounded-md hover:bg-granny-600 focus:outline-none" >Modifier</button>

            </div>
            <div *ngIf="!dvd.id" class="flex justify-around mt-6">  
                <button id="ajouter" type="submit"   class="px-6 py-2 leading-5 text-fumee transition-colors duration-200 transform bg-granny-400 rounded-md hover:bg-granny-600 focus:outline-none">Ajouter</button>
            </div>
        </form>
    </section>
</div>
